<!-- 底部浮标 -->
<ul id="Buoy" class="bdsharebuttonbox">     
    <li><a href="#page1" id="Buoy_Top"></a></li>
    <li><a target="_blank" href="http://shang.qq.com/email/stop/email_stop.html?qq=3132629604" id="Buoy_QQ" title='在线联系'></a></li>  
    <li><a href="#" id="Buoy_WeChat" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></li>
    <li id="Buoy_Share_hover">
        <a href="#" id="Buoy_Share"></a>
        <div id="Buoy_Share_active">
            <a target="_blank" href="#" id="Buoy_Share_Tencent_space"class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
            <a target="_blank" href="#" id="Buoy_Share_Watercress" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
            <a target="_blank" href="#" id="Buoy_Share_Tencent" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
            <a target="_blank" href="#" id="Buoy_Share_Baidu" class="bds_ibaidu" data-cmd="ibaidu" title="分享到百度个人中心"></a>
            <a target="_blank" href="#" id="Buoy_Share_Sina" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
            <a target="_blank" href="#" id="Buoy_Share_Circle"  class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
            <a target="_blank" href="#" id="Buoy_Share_QQ" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
            <!--a href="#" id="Buoy_Share_WeChat" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a-->
        </div>      
    </li>
</ul>