<!-- 底部版权 -->
<div id="Foot">
    <p><a href="#" id="Music_Control"><span class="line1"></span><span class="line2"></span><span class="line3"></span><span class="line4"></span><span class="line5"></span></a></p>
    <p>
        <label id="Copyright">Copyright （c）2015 vsery. 湘icp备1481489148</label>
    </p>
    <p>友情链接:
        <a target="_blank" href="http://vsery.zcool.com.cn" title='站酷（ZCOOL）——设计师互动平台'>站酷</a>、
        <a target="_blank" href="http://vsery.uehtml.com/" title='UEhtml酷站推荐平台'>UEhtml</a>、
        <a target="_blank" href="http://user.qzone.qq.com/3132629604/main" title='腾讯空间：vsery'>空间</a>、
        <a target="_blank" href="http://huaban.com/boards/22199907/" title='花瓣：vsery'>花瓣</a>、
        <a target="_blank" href="http://www.68design.net">设计师联盟</a>、
        <a href="#page5" class="more">更多>></a>
    </p>
</div>