<div class="section" id='Home'>
    <!-- 首页BANNER 1 -->
    <div class="slide" id="Home_one">
        <!-- <div class="bg_act01">handheld era</div> -->
        <div class="bg"><img src="__INDEX__/images/Index/Home_one.jpg" /></div>
    </div>
    <!-- 首页BANNER 2 -->
    <div class="slide" id="Home_two">
        <!-- <div class="bg_act01">brand establishment</div> -->
        <div class="bg"><img src="__INDEX__/images/Index/Home_two.jpg" /></div>
    </div>
    <!-- 首页BANNER 3 -->
    <div class="slide" id="Home_there">
        <!-- <div id="bg7"><img src="__INDEX__/images/Index/bg07.png" /></div>
        <div id="bg8"><img src="__INDEX__/images/Index/bg08.png" /></div>
        <div id="bg9"><img src="__INDEX__/images/Index/bg09.png" /></div>
        <div id="bg10"><img src="__INDEX__/images/Index/bg10.png" /></div> -->
        <div class="bg"><img src="__INDEX__/images/Index/Home_there.jpg" /></div>
    </div>
    <a href="#page2" class='Next_but'>Next</a>
</div>