<include file="common/full-header" />
    <!-- 内容页面 -->
    <div id="dowebok">
        
        <!-- 首页HOME -->
        <include file="index/home" />

        <!-- 产品PRODUCT -->
        <include file="index/product" />
        
        <!-- 关于About -->
        <include file="index/about" />
        
        <!-- 留言Message -->
        <include file="index/message" />
        
        <!-- 友链Link -->
        <include file="index/link" />
        
    </div>

    
    <!-- 加载顶部导航 -->
    <include file="index/top" />

    <!-- 顶部LOGO -->
    <include file="index/top_logo" />

    <!-- 加载浮动 -->
    <include file="index/buoy" />

    <!-- 加载底部版权 -->
    <include file="index/copyright" />

    <!-- 加载音乐 -->
    <!-- <include file="index/music" /> -->