<div class="section" id='Link'>
    <ul class='Link_List'>
        <volist name="webLink" id="option" key="sort">
            <li class="float">
                <a href="{$option.src}" title="{$option.text}" target="_blank"> {$option.text} </a>
            </li>
        </volist>
    </ul>
    <a href="#page1" class='Top_but'>Top</a>
    <div class="bg">
        <img src="__INDEX__/images/Index/Mess_bg.jpg" />
    </div>
</div>


        <!-- 
        <li class="float">
            <a target="_blank" href="http://vsery.zcool.com.cn" title='站酷（ZCOOL）——设计师互动平台'>站酷（ZCOOL）——设计师互动平台</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://vsery.uehtml.com/" title='UEhtml酷站推荐平台'>UEhtml酷站推荐平台</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://huaban.com/boards/22199907/" title='花瓣：vsery'>花瓣：vsery</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://www.douban.com/people/115658060/" title='豆瓣：vsery'>豆瓣：vsery</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://user.qzone.qq.com/3132629604/main" title='腾讯空间：vsery'>腾讯空间：vsery</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://www.68design.net/" title='网页设计师联盟'>网页设计师联盟</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://www.68ps.com/" title='PS联盟'>PS联盟</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://www.uisdc.com/" title='优秀网页设计联盟'>优秀网页设计联盟</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://www.isjzj.com/" title='设计之家'>设计之家</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://www.68ps.com/" title='PS联盟'>PS联盟</a>
        </li>
        <li class="float">
            <a target="_blank" href="http://www.imooc.com/" title='慕课网'>慕课网</a>
        </li>
         -->