<!-- 顶部导航 -->
<ul id="Top_menu">
    <li data-menuanchor="page1" class="active float">
        <a href="#page1" title='vsery.com --- 首页'>
            <img src="__INDEX__/images/Public/Home.png" alt='vsery.com --- Home'/>Home
        </a>
    </li>
    <li data-menuanchor="page2" class="float">
        <a href="#page2" title='vsery.com --- 产品'>
            <img src="__INDEX__/images/Public/Product.png" alt='vsery.com --- Product'/>Product
        </a>
    </li>
    <li data-menuanchor="page3" class="float">
        <a href="#page3" title='vsery.com --- 关于'>
            <img src="__INDEX__/images/Public/About.png" alt='vsery.com --- About'/>About
        </a>
    </li>
    <li data-menuanchor="page4" class="float">
        <a href="#page4" title='vsery.com --- 留言'>
            <img src="__INDEX__/images/Public/Message.png" alt='vsery.com --- Message' />Message
        </a>
    </li>
    <li data-menuanchor="page5" class="float">
        <a href="#page5" title='vsery.com --- 链接'>
            <img src="__INDEX__/images/Public/Link.png" alt='vsery.com --- Link' />Link
        </a>
    </li>
</ul>