/*
    Author: vsery
    Contact: 3132629604@qq.com
    Copyright: www.vsery.com
    Time:2015-7-3, Edition: 1.0
    Time:2018-3-5, Edition: 2.0
*/
@keyframes strechdelay {
    0%,
    40%,
    100% { transform: scaleY(.4); }
    20% { transform: scaleY(1); }
}

/* section */
.section { font: 50px 'Microsoft Yahei'; position: relative; text-align: center; color: #fff; }
a.Top_but,
a.Next_but { font-size: 14px; line-height: 60px; position: absolute; z-index: 20; bottom: 30px; left: 50%; display: block; width: 60px; height: 60px; margin-left: -30px; transition: all 1s; text-transform: uppercase; color: #fff; border-radius: 50%; background-color: rgba(74, 255, 255, .5); }
a.Top_but:hover,
a.Next_but:hover { color: #000; border-radius: 50%; background-color: rgba(74, 255, 255, 1); }

/*  slide, slide:But */
.slide { position: relative; }
.fp-slidesNav.bottom { top: 50%; left: 29.5px; width: 13px; height: 84px; margin-top: -42px; }
.fp-slidesNav.bottom li { float: left; }

/*  Home, Home:one, Home:two, Home:there */
.bg { position: absolute; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; }
.bg img { display: block; width: 100%; height: 100%; }
.bg_act01 { font-family: Arial, Helvetica, sans-serif; font-size: 72px; position: absolute; z-index: 13; top: 30%; width: 100%; transition: all 3s; text-align: center; text-transform: Uppercase; opacity: 0; }

/*  Home-hover, Home-hover:one, Home-hover:two */
#Home_one.active .bg_act01 { top: 50%; opacity: 1; }
#Home_two span { background-color: #4affff; }
#Home_two.active .bg_act01 { top: 50%; opacity: 1; }

/* Home-hover:there */
#bg7 { position: absolute; z-index: 17; top: 50%; left: 50%; width: 619px; height: 536px; margin-top: -320px; margin-left: -309.5px; transition: ease-in-out .1s; transform: rotate(-360deg); opacity: 0; }
#bg8 { position: absolute; z-index: 16; top: 50%; left: 50%; width: 360px; height: 321px; margin-top: -107.5px; margin-left: -50px; transition: ease-in-out .1s; opacity: 0; }
#bg9 { position: absolute; z-index: 15; top: 50%; left: 50%; width: 360px; height: 321px; margin-top: -150px; margin-left: -180px; transition: ease-in-out .1s; opacity: 0; }
#bg10 { position: absolute; z-index: 14; top: 50%; left: 50%; width: 619px; height: 536px; margin-top: -268px; margin-left: -360px; transition: ease-in-out .1s; opacity: 0; }
#Home_there.active #bg7 { margin-top: -268px; margin-left: -309.5px; transition: all 2s ease-in-out .2s; transform: rotate(0deg); opacity: 1; }
#Home_there.active #bg8 { margin-top: -107.5px; margin-left: -180px; transition: opacity 1s ease-in-out 1s; opacity: 1; }
#Home_there.active #bg9 { margin-top: -213.5px; margin-left: -180px; transition: opacity 1s ease-in-out .5s; opacity: 1; }
#Home_there.active #bg10 { margin-top: -268px; margin-left: -309.5px; transition: opacity 1s ease-in-out .1s; opacity: 1; }

/*  Product, Product-Nav */
#Product_bg { z-index: 0; }
#Product_Nav { font-size: 14px; position: absolute; z-index: 14; top: 90px; left: 50%; width: 550px; height: 30px; margin-left: -275px; text-align: center; background-color: rgba(0, 0, 0, .8); }
#Product_Nav a { font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 30px; height: 30px; margin: 0 10px; color: #fff; }
#Product_Nav a:hover { text-decoration: underline; color: #4affff; }
#Product_Nav a.active { text-decoration: underline; color: #4affff; }

/*  Product, Product: Item */
.Product_Item { position: absolute; left: 50%; overflow: hidden; width: 1220px; height: 70%; margin: 10% auto 0; margin-left: -610px; tov: 120px; }
.Product_Item li { overflow: hidden; width: 25%; height: 50%; margin-bottom: none; }
.Product_Item li a { display: block; overflow: hidden; width: 99%; height: 99%; transition: all 1s ease-in-out .2s; border: 1px solid #000; }
.Product_Item li a img { max-width: 120%; margin-left: -10%; transition: all 1s ease-in-out .2s; opacity: .7; filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); }
.Product_Item li a:hover { border: 1px solid #4affff; }
.Product_Item li a:hover img { opacity: 1; filter: grayscale(0%); -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); }
.Product_Item li a.List { max-width: 100%; max-height: 100%; border: none; border-radius: 50%; }
.Product_Item li a.List img { max-width: 90%; max-height: 90%; margin: 2.5%; border: none; border: 2px solid rgba(100, 100, 100, .8); border-radius: 50%; }
.Product_Item li a.List:hover img { transform: rotate(360deg); border: 2px solid #4affff; background-color: rgba(74, 255, 255, .1); }

/* About */
#About .Picture_Line_Top { position: absolute; z-index: 14; top: 36%; right: 51%; width: 365px; height: 480px; margin-top: -280px; transition: all 2s; transition-delay: 2s; opacity: 0; }
#About .Picture_Line_Bottom { position: absolute; z-index: 13; right: 50%; bottom: 28%; width: 390px; height: 460px; margin-bottom: -260px; transition: all 2s; transition-delay: 2.5s; opacity: 0; }
#About .Picture_Top { position: absolute; z-index: 12; top: 50%; right: 56%; width: 360px; height: 360px; margin-top: -180px; transition: all 1s; transition-delay: 1s; opacity: 0; }
#About .Picture { position: absolute; z-index: 11; top: 50%; right: 54%; width: 292px; height: 292px; margin-top: -146px; transition: all 1s; opacity: 0; }
#About.active .Picture_Line_Top { top: 36%; right: 48%; margin-top: -240px; opacity: 1; }
#About.active .Picture_Line_Bottom { right: 48%; bottom: 30%; margin-bottom: -240px; opacity: 1; }
#About.active .Picture_Top { right: 54%; opacity: 1; }
#About.active .Picture { transform: scale(1.1, 1.1); opacity: 1; }
#About h3 { font-family: '微软雅黑'; font-size: 32px; font-weight: normal; position: absolute; z-index: 11; top: 40%; left: 52%; text-align: left; color: #4affff; }
#About p { font-family: '微软雅黑'; font-size: 16px; line-height: 30px; position: absolute; z-index: 11; top: 50%; left: 52%; text-align: left; }

/* Message */
#Message .Message_List { position: absolute; z-index: 11; top: 13%; left: 6%; width: 88%; height: 74%; background-color: rgba(0, 77, 77, .3); }
#Mess_List { position: relative; }
#Message .Message_List .Write_Message { font: 400 13.3333px Arial; position: absolute; bottom: 30px; width: 100%; height: 60px; text-align: left; }
#Message .Message_List .Write_Message #Mess_Name { overflow: hidden; width: 25%; height: 60px; text-indent: 1.5em; color: #ccc; border: none; background-color: rgba(0, 0, 0, .7); }
#Message .Message_List .Write_Message #Mess_Body { overflow: hidden; width: 60%; height: 60px; text-indent: 4em; color: #ccc; border: none; background-color: rgba(0, 0, 0, .3); }
#Message .Message_List .Write_Message input[type='submit'] { font-weight: 300; width: 14.5%; height: 60px; transition: all 1s; text-transform: uppercase; color: #aaa; border: none; background-color: rgba(38, 58, 58, .3); }
#Message .Message_List .Write_Message input[type='submit']:hover { color: #fff; border: 1px solid #4affff; background-color: rgba(0, 0, 0, .5); }
#Mess_List ul { overflow: hidden; width: 100%; height: 480px; margin-top: 30px; border: 1px solid #1b5557; border-right: none; border-bottom: none; }
#Mess_List ul li { overflow: hidden; width: 25%; height: 120px; margin-top: -1px; margin-left: -1px; border: 1px solid #1b5557; border-top: none; border-left: none; }
#Mess_List ul li img { float: left; }
#Mess_List ul li .Mess_Name { font-size: 14px; line-height: 30px; overflow: ellipsis; width: 80%; height: 60px; text-align: left; white-space: nowrap; color: rgba(255, 255, 255, .7); }
#Mess_List ul li .Mess_Txt { font-size: 14px; line-height: 60px; overflow: ellipsis; width: 80%; height: 60px; text-align: left; white-space: nowrap; color: rgba(0, 255, 255, .7); }

/* Buoy, Buoy: Top,QQ,Weibo,WeChat,Share */
#Buoy { position: fixed; z-index: 99; right: 30px; bottom: 30px; width: 30px; transition: all 1s; display: none; }
#Buoy li a { float: left; width: 30px; height: 30px; margin: 0; padding: 0; background-position: 0 0; }
#Buoy_Top { background: url(../images/Public/Buoy_Top.png); }
#Buoy_Top:hover { background: url(../images/Public/Buoy_Top2.png); }
#Buoy_QQ { background: url(../images/Public/Buoy_QQ.png); }
#Buoy_QQ:hover { background: url(../images/Public/Buoy_QQ2.png); }
#Buoy_Weibo { background: url(../images/Public/Buoy_Weibo.png); }
#Buoy_Weibo:hover { background: url(../images/Public/Buoy_Weibo2.png); }
#Buoy_WeChat { background: url(../images/Public/Buoy_WeChat.png); }
#Buoy_WeChat:hover { background: url(../images/Public/Buoy_WeChat2.png); }
#Buoy_Share { position: relative; background: url(../images/Public/Buoy_Share.png); }
#Buoy_Share:hover { background: url(../images/Public/Buoy_Share2.png); }

/* Buoy, Buoy_Share, Buoy Share: Sina,Tencent,QQ,Wechat,Baidu,Circle,Waterctress,Tencent_space */
#Buoy_Share_hover:hover #Buoy_Share_active { display: block; }
#Buoy_Share_active { position: absolute; left: -120px; display: none; width: 120px; }
#Buoy_Share_Sina { background: url(../images/Public/Buoy_Share_Sina.png); }
#Buoy_Share_Sina:hover { background: url(../images/Public/Buoy_Share_Sina2.png); }
#Buoy_Share_Tencent { background: url(../images/Public/Buoy_Share_Tencent.png); }
#Buoy_Share_Tencent:hover { background: url(../images/Public/Buoy_Share_Tencent2.png); }
#Buoy_Share_QQ { background: url(../images/Public/Buoy_Share_QQ.png); }
#Buoy_Share_QQ:hover { background: url(../images/Public/Buoy_Share_QQ2.png); }
#Buoy_Share_WeChat { background: url(../images/Public/Buoy_Share_WeChat.png); }
#Buoy_Share_WeChat:hover { background: url(../images/Public/Buoy_Share_WeChat2.png); }
#Buoy_Share_Baidu { background: url(../images/Public/Buoy_Share_Baidu.png); }
#Buoy_Share_Baidu:hover { background: url(../images/Public/Buoy_Share_Baidu2.png); }
#Buoy_Share_Circle { background: url(../images/Public/Buoy_Share_Circle.png); }
#Buoy_Share_Circle:hover { background: url(../images/Public/Buoy_Share_Circle2.png); }
#Buoy_Share_Watercress { background: url(../images/Public/Buoy_Share_Watercress.png); }
#Buoy_Share_Watercress:hover { background: url(../images/Public/Buoy_Share_Watercress2.png); }
#Buoy_Share_Tencent_space { background: url(../images/Public/Buoy_Share_Tencent_space.png); }
#Buoy_Share_Tencent_space:hover { background: url(../images/Public/Buoy_Share_Tencent_space2.png); }

/*  Top, Logo */
#Top_logo { position: fixed; z-index: 99; top: 30px; left: 30px; max-width: 60px; max-height: 60px; transition: all 1s; display: none; }
#Top_logo img { max-width: inherit; max-height: inherit; }
/*  Top, menu */
#Top_menu { position: fixed; z-index: 99; top: 30px; right: 30px; transition: all 1s; }
#Top_menu li { margin-left: 30px; }
#Top_menu a { float: left; color: #fff; text-height: 30px; }
#Top_menu a img { vertical-align: middle; }
#Top_menu a:hover { text-decoration: underline; color: #4affff; }
#Top_menu .active a { text-decoration: underline; color: #4affff; }

/*  800 X 600 */
@media screen (min-width:800px)and (max-width:1022px) { }

/* ( 1024 X 768 ) ~ (1280 X 720 ) */
@media screen and (min-width:1024px) and (max-width:1280px) { }

/* (1366 X 768 ) */
@media screen and (min-width:1281px) and (max-width:1366px) {
    #dowebok #Product a.Next_but,
    #dowebok #Message a.Next_but { opacity: 0; }
    #Mess_List ul { height: 360px; }
    #dowebok #Link .Link_List { height: 70%; }
}
/*  Foot, Foot Copyright Foot Links */
#Foot { font-size: 12px; position: fixed; z-index: 99; bottom: 30px; left: 30px; height: 60px; transition: all 1s; }
#Foot #Copyright { font-size: 12px; color: #fff; }
#Foot #Music_Control { width: 120px; height: 25px; margin-bottom: 5px; cursor: pointer; }
#Foot #Music_Control > span { display: inline-block; width: 3px; height: 80%; margin-left: 1px; -webkit-animation: strechdelay 1.2s infinite ease-in-out; -moz-animation: strechdelay 1.2s infinite ease-in-out; -ms-animation: strechdelay 1.2s infinite ease-in-out; -o-animation: strechdelay 1.2s infinite ease-in-out; animation: strechdelay 1.2s infinite ease-in-out; background: #4affff; }
#Foot #Music_Control span.line1 { -webkit-animation-delay: -1.2s; -moz-animation-delay: -1.2s; -ms-animation-delay: -1.2s; -o-animation-delay: -1.2s; animation-delay: -1.2s; }
#Foot #Music_Control span.line2 { -webkit-animation-delay: -1.1s; -moz-animation-delay: -1.1s; -ms-animation-delay: -1.1s; -o-animation-delay: -1.1s; animation-delay: -1.1s; }
#Foot #Music_Control span.line3 { -webkit-animation-delay: -1.0s; -moz-animation-delay: -1.0s; -ms-animation-delay: -1.0s; -o-animation-delay: -1.0s; animation-delay: -1.0s; }
#Foot #Music_Control span.line4 { -webkit-animation-delay: -.9s; -moz-animation-delay: -.9s; -ms-animation-delay: -.9s; -o-animation-delay: -.9s; animation-delay: -.9s; }
#Foot #Music_Control span.line5 { -webkit-animation-delay: -.8s; -moz-animation-delay: -.8s; -ms-animation-delay: -.8s; -o-animation-delay: -.8s; animation-delay: -.8s; }
#Foot #Music_Control > span.Pause { -webkit-animation-play-state: paused; -moz-animation-play-state: paused; -ms-animation-play-state: paused; -o-animation-play-state: paused; animation-play-state: paused; }
#Foot p { height: 30px; text-height: 30px; }
#Foot a { color: #fff; }
#Foot a:hover { color: #4affff; }
#Foot a.more { color: #4affff; }
#Foot a.more:hover { color: #fff; }