/*
    Author: vsery
    Contact: 3132629604@qq.com
    Copyright: www.vsery.com
    Time:2015-7-3, Edition: 1.0
    Time:2018-3-5, Edition: 2.0
*/
@import url(./full/top.css);
@import url(./full/footer.css);