/*
    Author:vsery;
    Contact: 3132629604@qq.com;
    Time:2015-7-3;
    Copyright: www.vsery.com.cn
    Edition:1.0;
*/
@charset 'utf-8';
body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; -webkit-user-select: none;/*webkit浏览器*/ -moz-user-select: none;/*火狐*/ -ms-user-select: none;/*IE10*/ user-select: none; color: #4affff; -khtml-user-select: none;/*早期浏览器*/ }
* { margin: 0; padding: 0; }
ul { list-style-type: none; }
li { float: left; }
a { text-decoration: none; }

/*
    Load:img;
*/
.loading { position: fixed; z-index: 99999; height: 100%; background: #4affff; }

/*  Top
    Logo
*/
#Top_logo { position: fixed; z-index: 99; top: 30px; left: 30px; max-width: 60px; max-height: 60px; transition: all 1s; }
#Top_logo img { max-width: inherit; max-height: inherit; }

/*  Top
    menu
 */
#Top_menu { position: fixed; z-index: 99; top: 30px; right: 30px; transition: all 1s; }
#Top_menu li { margin-left: 30px; }
#Top_menu a { float: left; color: #fff; text-height: 30px; }
#Top_menu a img { vertical-align: middle; }
#Top_menu a:hover { text-decoration: underline; color: #4affff; }
#Top_menu .active a { text-decoration: underline; color: #4affff; }

/*  Foot
    Foot Copyright
    Foot Links:
*/
#Foot { font-size: 12px; position: fixed; z-index: 99; bottom: 30px; left: 30px; height: 60px; transition: all 1s; }
#Foot #Copyright { font-size: 12px; color: #fff; }
#Foot #Music_Control { width: 120px; height: 25px; margin-bottom: 5px; cursor: pointer; }
#Foot #Music_Control > span { display: inline-block; width: 3px; height: 80%; margin-left: 1px; -webkit-animation: strechdelay 1.2s infinite ease-in-out; -moz-animation: strechdelay 1.2s infinite ease-in-out; -ms-animation: strechdelay 1.2s infinite ease-in-out; -o-animation: strechdelay 1.2s infinite ease-in-out; animation: strechdelay 1.2s infinite ease-in-out; background: #4affff; }
#Foot #Music_Control span.line1 { -webkit-animation-delay: -1.2s; -moz-animation-delay: -1.2s; -ms-animation-delay: -1.2s; -o-animation-delay: -1.2s; animation-delay: -1.2s; }
#Foot #Music_Control span.line2 { -webkit-animation-delay: -1.1s; -moz-animation-delay: -1.1s; -ms-animation-delay: -1.1s; -o-animation-delay: -1.1s; animation-delay: -1.1s; }
#Foot #Music_Control span.line3 { -webkit-animation-delay: -1.0s; -moz-animation-delay: -1.0s; -ms-animation-delay: -1.0s; -o-animation-delay: -1.0s; animation-delay: -1.0s; }
#Foot #Music_Control span.line4 { -webkit-animation-delay: -.9s; -moz-animation-delay: -.9s; -ms-animation-delay: -.9s; -o-animation-delay: -.9s; animation-delay: -.9s; }
#Foot #Music_Control span.line5 { -webkit-animation-delay: -.8s; -moz-animation-delay: -.8s; -ms-animation-delay: -.8s; -o-animation-delay: -.8s; animation-delay: -.8s; }
#Foot #Music_Control > span.Pause { -webkit-animation-play-state: paused; -moz-animation-play-state: paused; -ms-animation-play-state: paused; -o-animation-play-state: paused; animation-play-state: paused; }
#Foot p { height: 30px; text-height: 30px; }
#Foot a { color: #fff; }
#Foot a:hover { color: #4affff; }
#Foot a.more { color: #4affff; }
#Foot a.more:hover { color: #fff; }
@keyframes strechdelay {
    0%,
    40%,
    100% { transform: scaleY(.4); }
    20% { transform: scaleY(1); }
}
@-webkit-keyframes strechdelay {
    0%,
    40%,
    100% { -webkit-transform: scaleY(.4); }
    20% { -webkit-transform: scaleY(1); }
}
@-moz-keyframes strechdelay {
    0%,
    40%,
    100% { -moz-transform: scaleY(.4); }
    20% { -moz-transform: scaleY(1); }
}
@-ms-keyframes strechdelay {
    0%,
    40%,
    100% { -ms-transform: scaleY(.4); }
    20% { -ms-transform: scaleY(1); }
}
@-o-keyframes strechdelay {
    0%,
    40%,
    100% { -o-transform: scaleY(.4); }
    20% { -o-transform: scaleY(1); }
}

/*
    Author:vsery;
    Contact: 3132629604@qq.com;
    Time:2015-7-3;
    Copyright: www.vsery.com.cn
    Edition:1.0;
*/
/*
    section
*/
.section { text-align: center; font: 50px "Microsoft Yahei"; color: #fff; position: relative; }
a.Top_but , a.Next_but { position: absolute; z-index: 20; left: 50%; margin-left: -30px; bottom: 30px; width: 60px; height: 60px; color: #fff; line-height: 60px; display: block; font-size: 14px; border-radius: 50%; background-color: rgba(74,255,255, .5);  transition: all 1s; text-transform: uppercase; }
a.Top_but:hover , a.Next_but:hover { border-radius: 50%; background-color: rgba(74,255,255,1); color: #000; }
/*  slide
    slide:But;
*/
.slide { position: relative; }
.fp-slidesNav.bottom { left: 29.5px; width: 13px; height: 84px; top: 50%; margin-top: -42px; }
/*  Home
    Home:one
    Home:two
    Home:there
*/
.bg { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 10; }
.bg img { display: block; width: 100%; height: 100%; }
.bg_act01 { position: absolute; z-index:13; width: 100%; top:30%; text-align:center; font-size:72px; font-family:Arial, Helvetica, sans-serif; text-transform:Uppercase; transition:all 3s; opacity:0; }
/*  Home-hover:
    Home-hover:one
    Home-hover:two
*/
#Home_one.active .bg_act01 { top: 50%; opacity: 1; }
#Home_two span { background-color:#4affff;}
#Home_two.active .bg_act01 { top: 50%; opacity: 1; }
/*  
    Home-hover:there
*/
#bg7 { position: absolute; z-index: 17; width: 619px; height: 536px; left: 50%; top: 50%; margin-top: -320px; margin-left: -309.5px; opacity: 0; transition: ease-in-out .1s; transform:rotate(-360deg); }
#bg8 { position: absolute; z-index: 16; width: 360px; height: 321px; left: 50%; top: 50%; margin-top: -107.5px; margin-left: -50px; opacity: 0; transition: ease-in-out .1s; }
#bg9 { position: absolute; z-index: 15; width: 360px; height: 321px; left: 50%; top: 50%; margin-top: -150px; margin-left: -180px; opacity: 0; transition: ease-in-out .1s; }
#bg10 { position: absolute; z-index: 14; width: 619px; height: 536px; left: 50%; top: 50%; margin-top: -268px; margin-left: -360px; opacity: 0; transition: ease-in-out .1s; }
#Home_there.active #bg7 { opacity: 1; margin-top: -268px; margin-left: -309.5px; transition: all 2s ease-in-out .2s; transform:rotate(0deg); }
#Home_there.active #bg8 { opacity: 1; margin-top: -107.5px; margin-left: -180px; transition: opacity 1s ease-in-out 1s; }
#Home_there.active #bg9 { opacity: 1; margin-top: -213.5px; margin-left: -180px; transition: opacity 1s ease-in-out .5s; }
#Home_there.active #bg10 { opacity: 1; margin-top: -268px; margin-left: -309.5px; transition: opacity 1s ease-in-out .1s; }
/*  Product
    Product-Nav
*/
#Product_bg { z-index:0; }
#Product_Nav { position: absolute; width:550px; height:30px; top: 90px; left:50%; margin-left: -275px; background-color: rgba(0,0,0,0.8); text-align:center; z-index:14; font-size: 14px; }
#Product_Nav a { margin:0 10px; height: 30px; color: #fff; font-size: 14px; font-family:Arial, Helvetica, sans-serif; line-height: 30px; }
#Product_Nav a:hover { color: #4affff; text-decoration:underline; }
#Product_Nav a.active { color: #4affff; text-decoration:underline; }
/*  Product
    Product: Item;
*/
.Product_Item { width: 1220px; height: 70%; overflow: hidden; margin: 10% auto 0; position: absolute; tov: 120px; left: 50%; margin-left: -610px; }
.Product_Item li { width: 25%; height: 50%; margin-bottom: none; overflow: hidden; }
.Product_Item li a { display: block; width: 99%; height: 99%; border: 1px solid #000; overflow: hidden; transition: all 1s ease-in-out .2s; }
.Product_Item li a img { max-width: 120%; margin-left: -10%; opacity: .7; transition: all 1s ease-in-out .2s; filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -ms-filter: grayscale(100%); -o-filter: grayscale(100%); }
.Product_Item li a:hover { border: 1px solid #4affff; } 
.Product_Item li a:hover img { opacity: 1; filter: grayscale(0%); -webkit-filter: grayscale(0%); -moz-filter: grayscale(0%); -ms-filter: grayscale(0%); -o-filter: grayscale(0%); }
.Product_Item li a.List { border-radius: 50%; max-width: 100%; max-height: 100%; border: none; }
.Product_Item li a.List img { max-width: 90%; max-height: 90%; margin: 2.5%; border:none; border-radius: 50%; border: 2px solid rgba(100,100,100,.8); }
.Product_Item li a.List:hover img { transform:rotate(360deg); background-color: rgba(74,255,255,.1); border: 2px solid #4affff; }
/*
    About
*/
#About .Picture_Line_Top { position: absolute; width: 365px; height: 480px; right: 51%; top: 36%; opacity: 0; margin-top: -280px; z-index: 14; transition:all 2s; transition-delay: 2s; }
#About .Picture_Line_Bottom { position: absolute; width: 390px; height: 460px; right: 50%; bottom: 28%; opacity: 0; margin-bottom: -260px; z-index: 13; transition:all 2s; transition-delay: 2.5s; }
#About .Picture_Top { position: absolute; width: 360px; height: 360px; right: 56%; top: 50%; opacity: 0; margin-top: -180px; z-index: 12; transition:all 1s; transition-delay: 1s; }
#About .Picture { position: absolute; width: 292px; height: 292px; right: 54%; top: 50%; opacity: 0; margin-top: -146px; z-index: 11; transition:all 1s; }
#About.active .Picture_Line_Top { right: 48%; top: 36%; margin-top: -240px; opacity: 1; }
#About.active .Picture_Line_Bottom { right: 48%; bottom: 30%; margin-bottom: -240px; opacity: 1; }
#About.active .Picture_Top { right: 54%; opacity: 1; }
#About.active .Picture { opacity: 1; transform: scale( 1.1, 1.1); }
#About h3 { z-index: 11; position: absolute; top: 40%; left: 52%; font-size: 32px; font-family: '微软雅黑'; text-align: left; font-weight: normal; color: #4AFFFF;}
#About p { z-index: 11; position: absolute; top: 50%; left: 52%; font-size: 16px; font-family: '微软雅黑'; text-align: left; line-height: 30px; }
/*
    Message
*/
#Message .Message_List { position: absolute; width: 88%; height: 74%; top: 13%; left: 6%; background-color: rgba(0,77,77, .3); z-index: 11; }
#Mess_List {position: relative; }
#Message .Message_List .Write_Message { width: 100%; height: 60px; position: absolute; bottom: 30px; font: 400 13.3333px Arial; text-align: left; }
#Message .Message_List .Write_Message #Mess_Name { width: 25%; height: 60px; color: #ccc; background-color: rgba(0,0,0, .7); border: none; text-indent: 1.5em; overflow: hidden; }
#Message .Message_List .Write_Message #Mess_Body { width: 60%; height: 60px; color: #ccc; background-color: rgba(0,0,0, .3); border: none; overflow: hidden; text-indent: 4em; }
#Message .Message_List .Write_Message input[type='submit'] { width: 14.5%; height: 60px; color: #aaa; background-color: rgba(38,58,58, .3); border: none; text-transform: uppercase; font-weight: 300; transition:all 1s; }
#Message .Message_List .Write_Message input[type='submit']:hover { border: 1px solid #4AFFFF; background-color: rgba(0,0,0, .5); color: #fff; }
#Mess_List ul { width: 100%; height: 480px; margin-top: 30px; border: 1px solid #1b5557; border-bottom: none; border-right: none; overflow: hidden; }
#Mess_List ul li { border: 1px solid #1b5557; border-left: none; border-top: none; height: 120px; width: 25%; overflow: hidden; margin-left: -1px; margin-top: -1px; }
#Mess_List ul li img { float: left; }
#Mess_List ul li .Mess_Name { width: 80%; height: 60px; white-space: nowrap; overflow:ellipsis; font-size: 14px; text-align: left; line-height: 30px; color: rgba(255,255,255, .7); }
#Mess_List ul li .Mess_Txt { width: 80%; height: 60px; white-space: nowrap; overflow:ellipsis; font-size: 14px; text-align: left; line-height: 60px; color: rgba(0,255,255, .7); }
/*
    Link
*/
#Link .Link_List { position: absolute; width: 88%; height: 74%; top: 13%; left: 6%; background-color: rgba(0,77,77, .3); z-index: 11; }
#Link .Link_List li { width: 25%; height: 30px; overflow: hidden; line-height: 30px; }
#Link .Link_List li a { font-size: 14px; color: #fff; transition: all 1s; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; float: left; text-indent: 2em; font-weight: normal; font-weight: normal; }
#Link .Link_List li:first-child a { text-decoration: underline; color: #4affff; }
#Link .Link_List li a:hover { color: #4affff; }

/*  800 X 600 */
@media screen ( min-width:800px )and ( max-width:1022px ) {
}
/* ( 1024 X 768 ) ~ (1280 X 720 ) */
@media screen and ( min-width:1024px ) and ( max-width:1280px ) {

}
/* (1366 X 768 ) */
@media screen and ( min-width:1281px ) and ( max-width:1366px ) {
    #dowebok #Product a.Next_but ,#dowebok #Message a.Next_but { opacity: 0; }
    #Mess_List ul { height: 360px; }
    #dowebok #Link .Link_List { height: 70%; }
}