<div class="section" id='About'>
    <div class='Picture_Line_Top'><img src="__INDEX__/images/Index/Picture_Line_Top.png"></div>
    <div class='Picture_Line_Bottom'><img src="__INDEX__/images/Index/Picture_Line_Bottom.png"></div>
    <div class='Picture_Top'><img src="__INDEX__/images/Index/Picture_Top.png"></div>
    <div class='Picture'><img src="__INDEX__/images/Index/Picture.png"></div>
    <h3>Vsery-Designer</h3>
    <p>“现在我还是个“菜鸟”，有很多不足的地方。</br>但我一直坚信“只要努力再努力一点就能更好”</br>我要一直坚定自己的脚步，因为我并不满足。</br>即使我是蜗牛，我也会走稳每一步！” </p>
    <a href="#page4" class='Next_but'>Next</a>
    <div class="bg"><img src="__INDEX__/images/Index/About_bg.jpg" /></div>
</div>