<div class="section" id='Link'>
    <ul class='Link_List'>
        <volist name="linkList" id="option" key="sort">
            <li class="title ">
                {$option.text}
            </li>
            <volist name="option.link" id="link" key="sort">
                <li class="">
                    <a href="{$link.src}" title="{$link.text}" target="_blank"> {$link.text} </a>
                </li>
            </volist>
        </volist>
    </ul>
    <a href="#page1" class='Top_but'>Top</a>
    <div class="bg">
        <img src="__INDEX__/images/Index/Mess_bg.jpg" />
    </div>
</div>
<style type="text/css">
#Link .Link_List {
    position: absolute;
    z-index: 11;
    top: 13%;
    left: 6%;
    width: 88%;
    height: 74%;
    background-color: rgba(0, 77, 77, .3);
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
}

#Link .Link_List li {
    float: left;
    line-height: 30px;
    overflow: hidden;
    width: 10%;
    height: 30px;
}

#Link .Link_List li ~ li.title{
    margin-top: 2rem;
}
#Link .Link_List li.title {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: left;
    font-size: 1.4rem;
}

#Link .Link_List li a {
    text-align: left;
    width: 100%;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    float: left;
    overflow: hidden;
    transition: all 1s;
    white-space: nowrap;
    text-indent: 1em;
    text-overflow: ellipsis;
    color: #fff;
}

#Link .Link_List li a:hover {
    color: #4affff;
}
</style>