<div class="section" id='Product'>
    <!-- 产品导航 -->
    <div id="Product_Nav">
        <a href="#" class='active'>Web</a>
        <a href="#">APP</a>
        <a href="#">Banner</a>
        <a href="#">Poster</a>
        <a href="#">Picture</a>
    </div>
    <!-- Web -->
    <div class="slide">
        <ul class='Product_Item'>
            <li class="float">
                <a target="_blank" href="index/blog" title='RockingMuisc'>
                    <img src="__INDEX__/images/Product/Web/RockingMuisc.jpg" alt='RockingMuisc'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='Vsery'>
                    <img src="__INDEX__/images/Product/Web/Vsery.jpg" alt='Vsery'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='MoFang'>
                    <img src="__INDEX__/images/Product/Web/MoFang.jpg" alt='MoFang'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='Inet198'>
                    <img src="__INDEX__/images/Product/Web/Inet198.jpg" alt='Inet198'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='DouBiWork'>
                    <img src="__INDEX__/images/Product/Web/DouBiWork.jpg" alt='DouBiWork'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='All'>
                    <img src="__INDEX__/images/Product/Web/All.jpg" alt='All'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='Vsery2'>
                    <img src="__INDEX__/images/Product/Web/Vsery2.jpg" alt='Vsery2'>
                </a>
            </li>
            <li class="float">
                <a class='List' target="_blank" href="Product_List.php" title='More'>
                    <img src="__INDEX__/images/Public/List.png" alt='More'>
                </a>
            </li>
        </ul>
    </div>
    <!-- App -->
    <div class="slide">
        <ul class='Product_Item'>
            <li class="float">
                <a target="_blank" href="index/blog" title='RockingMuisc'>
                    <img src="__INDEX__/images/Product/APP/Average_For.jpg" alt='Average_For'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='Dribbble_Likes'>
                    <img src="__INDEX__/images/Product/APP/Dribbble_Likes.jpg" alt='Dribbble_Likes'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='Icon'>
                    <img src="__INDEX__/images/Product/APP/Icon.jpg" alt='Icon'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='Pinterest'>
                    <img src="__INDEX__/images/Product/APP/Pinterest.jpg" alt='Pinterest'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='Mock_Up'>
                    <img src="__INDEX__/images/Product/APP/Mock_Up.jpg" alt='Mock_Up'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='Sing_ER'>
                    <img src="__INDEX__/images/Product/APP/Sing_ER.jpg" alt='Sing_ER'>
                </a>
            </li>
            <li class="float">
                <a target="_blank" href="index/blog" title='Search_Preferences'>
                    <img src="__INDEX__/images/Product/APP/Search_Preferences.jpg" alt='Search_Preferences'>
                </a>
            </li>
            <li class="float">
                <a class='List' target="_blank" href="Product_List.php" title='More'>
                    <img src="__INDEX__/images/Public/List.png" alt='More'>
                </a>
            </li>
        </ul>
    </div>
    <!-- Banner -->
    <div class="slide">
    </div>
    <!-- Poster -->
    <div class="slide">
    </div>
    <!-- Picture -->
    <div class="slide">
    </div>
    <a href="#page3" class='Next_but'>Next</a>
    <div class="bg" id="Product_bg"><img src="__INDEX__/images/Index/Product_bg.jpg" /></div>
</div>  